.weatherOutputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    margin: auto;
    border-width: 4px;
    border-color: white;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(7, 16, 48);
}

.weatherOutputContainer p {
    padding: 0.25rem;
}

.locationInfoContainer {
    flex: 1;
}

.weatherIconContainer {
    flex: 1;
    justify-content: center;
    padding-top: 1rem;
}

.weatherInfoContainer {
    flex: 1;
    padding-top: 1rem;
}